@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');

html, div, h1, h2, h3, h4, h5, h6, ul, li, ol, dl, dt, dd, p, span, i,button, input{margin: 0;padding: 0;box-sizing: border-box;border: 0;font-family: 'Titillium Web', sans-serif;}
html,body{width: 100%;height: 100%;margin:0;padding:0;box-sizing: border-box;font-family: 'Titillium Web', sans-serif;}
ul, ol{list-style: none;}
input:focus-visible,textarea:focus-visible {    outline: none;}


#background-image{display: block; width: 100vw;height: 100vh;background: #000;position: absolute;left: 0;top: 0;background-size: cover;background-position: center;background-repeat: no-repeat;position: absolute;z-index: -1;}
.hidden{display: none!important;}

#login-form{text-align: center;position: absolute;left: 50%;top: 50%;transform:translate(-50%,-50%);z-index: 5;}
#login-form p{font-size: 2em;margin-bottom: 20px;}
#login-form input{display: block;width: 100%;border: none;border-bottom: 1px solid #ddd;font-size: 1.2em;background: transparent;color:rgba(255,255,255,0.6);padding: 5px;text-align: center;}
#login-form input:hover{border-bottom-color: #fff;}
#login-form button {display: block;margin: 20px auto 0;text-align: center;background: transparent;border: 1px solid #fff;font-size: 1.1em;color: #fff;padding: 5px 20px;cursor: pointer;opacity: 0.4;}
#login-form button:hover{background-color:rgba(255,255,255,0.1);opacity: 1;}
#logout{position: absolute;right: 30px;top: 20px;z-index: 10;border: none;opacity: 0.7;color: #fff;background: transparent;cursor: pointer;font-size: 0.7em;text-transform: uppercase;}
#logout:hover{opacity: 0.8;}


.container{background: rgba(0,0,0,0.6); width: 100%;max-width:1400px;height: 80%;display: flex;justify-content: space-between;overflow: hidden;border-radius: 20px;position: relative;left: 50%;top: 50%;transform:translate(-50%,-50%);color: #fff;box-shadow:0 0 10px rgba(0,0,0,0.4);padding: 50px;}

#content-wrap{width: 100%;display: flex;justify-content: space-between;height: 100%;}
#content-wrap .content{width: 78%;border-radius: 30px;}
.head-section{display: flex;justify-content: space-between;height: 17%;}
.head-section #now{width: 60%;border: 1px solid rgba(255,255,255,0.07);background-color: rgba(255,255,255,0.05);border-radius: 10px;position: relative;padding:20px 30px;display: flex;line-height: 1;justify-content: center;}
.head-section #now .icon{margin-right: 20px;margin-top: -5px; }
.head-section #now .icon i{font-size:80px;}
.head-section #now #day{font-size: 1.1em;padding-top: 3px;}
.head-section #now #clock{font-size: 3em;}
.head-section .quick-menu{width:38%;height: 100%;}
.head-section .quick-menu ul{display: flex;flex-wrap: wrap;justify-content: space-between;}
.head-section .quick-menu ul li{width: 49%;height: 49%;border: 1px solid rgba(255,255,255,0.07);background-color: rgba(255,255,255,0.05);padding: 5px 10px;border-radius: 5px;position: relative;margin-top: 2%;}
.head-section .quick-menu ul li:hover{border-color: #fff;background-color: rgba(255,255,255,0.2);}
.head-section .quick-menu ul li:nth-of-type(1),.head-section .quick-menu ul li:nth-of-type(2){margin-top: 0;}
.head-section .quick-menu ul li a{font-size: 0.9em;color: #fff;text-decoration: none;display: flex;align-items: center;}
.head-section .quick-menu ul li:nth-of-type(1) a i{color:#4285f4  }
.head-section .quick-menu ul li:nth-of-type(2) a i{color: #fff;}
.head-section .quick-menu ul li:nth-of-type(3) a i{color:#42be6f }
.head-section .quick-menu ul li a i{font-size: 40px;}
.head-section .quick-menu ul li:nth-of-type(4){padding:7px 10px;}
.head-section .quick-menu ul li a img{width: 45px;}

.body-section{display: flex;justify-content: space-between;    margin-top: 3%;  height: 79%;}



.write-todo{width: 34%;border: 1px solid rgba(255,255,255,0.07);background-color: rgba(255,255,255,0.1);border-radius: 10px;position: relative;padding:20px 30px;}
.write-todo h2{text-align: center;}
.write-todo #todo-form{height: 80%;}
.write-todo .category{margin: 20px auto;display: flex;align-items: center;justify-content: center;}
.write-todo .category label{position: relative;margin-left: 5px;display: flex;align-items: center;}
.write-todo .category label:nth-of-type(1){margin-left: 0;}
.write-todo .category label input[type=radio]{display: none;}
.write-todo .category label input[type=radio] + span{margin-right: 5px;display: inline-block;width: 16px;height:16px;border: 1px solid #fff;border-radius: 50%;opacity: 0.3;}
.write-todo .category label input[type=radio] + span::before{width: 8px;height: 8px;background-color: #fff;left: 4px;top: 8px;position: absolute;content: "";display: none;border-radius: 50%;}
.write-todo .category label input[type=radio] + span + p{display: inline-block;opacity: 0.3;}
.write-todo .category label input[type=radio]:checked + span{opacity: 1;}
.write-todo .category label input[type=radio]:checked + span::before{display: block;}
.write-todo .category label input[type=radio]:checked + span + p{opacity: 1;}
.write-todo input[type=text]{width: 100%;background-color: rgba(255,255,255,0.05);border:none;  border-bottom: 1px solid rgba(255,255,255,0.1);color: #fff;padding: 5px;}
.write-todo textarea{width: 100%;height: 50%;margin: 10px auto;background-color: rgba(255,255,255,0.05);border:none;  border-bottom: 1px solid rgba(255,255,255,0.1);color: #fff;padding: 5px;}
.write-todo button{width: 100%;background: #fff; color: #111; border-radius: 3px; padding: 2px 5px;font-size: 1.1em;}

.view-todo{width: 64%;border: 1px solid rgba(255,255,255,0.07);background-color: rgba(255,255,255,0.05);border-radius: 10px;position: relative;padding:20px 30px;overflow-y: scroll;}
.view-todo li{position: relative;background-color: rgba(255,255,255,0.05);border-radius: 10px;margin-top: 10px;padding: 15px;}
.view-todo li div{font-size: 0.8em;opacity: 0.3;}
.view-todo li p{}
.view-todo li span{font-size: 0.7em;font-weight: bold;background: #fff;color: #000;border-radius: 10px;padding: 0 6px;}
.view-todo li button{position: absolute;right: 10px;top: 10px;color: #fff;border: none;background: transparent;display: inline-block;width: 20px;}



#content-wrap aside{width: 20%;}

#login-content{text-align: center;padding-top:40px;}
#login-content h1{margin-right: 10px;font-size: 2em;font-weight: bold;margin-bottom: 30px;}
#login-content .today-mood{font-size: 0.9em;border: 1px solid rgba(255,255,255,0.07);background-color: rgba(255,255,255,0.05);padding: 10px 0;border-radius: 10px;position: relative;}
#login-content .today-mood p{opacity: 0.9;}
#login-content .today-mood #mood-form{margin-top: 5px;}
#login-content .today-mood #mood-form select{padding:3px 5px;background: transparent;color: #fff;}
#login-content .today-mood #mood-form option{background:#000;color: #fff;font-size: 0.9em;}
#login-content .today-mood #mood-form button{margin-left: 4px;background: #fff;color: #111;border-radius: 3px;padding: 2px 5px;}
#login-content h2 {font-size:1.2em;} 
#login-content h2 i{position: relative;top: 1px;}
#login-content #mood-reset{opacity: 0.4;color: #fff;border-bottom: 1px solid rgba(255,255,255,0.5);background-color: transparent;position: absolute;right:10px;top: 5px;font-size: 0.8em;cursor: pointer;}

#weather{margin-top: 10px;border: 1px solid rgba(255,255,255,0.07);background-color: rgba(255,255,255,0.05);padding: 10px 0 20px;border-radius: 10px;text-align: center;}
#weather .city{font-size: 1.4em;font-weight: 600;}
#weather > div{font-size: 1.2em;}
#weather > div .temp{position: relative;display: inline-block;padding-right: 12px;position: relative;}
#weather > div .temp::after{content: "/";position: absolute;right: 0;}
#weather > div .weather{display: inline-block;}
#weather > div .weather i{position: relative;font-size: 1.6em;top: 7px;}

